/*
Version: 1.3
Last edited by: Natalia Pakhomova
Last edit date: 27/03/2022
Not Found page styles
*/

// Full-screen into block background
.notfound-page-container {
  background-image: url("../../assets/404-notfound.jpg");
}

// Not Found page text style
.notfound-page-text {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-style: italic;
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);

  p {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px 10px;

  }

  H1 {
    font-size: 200px;
    font-style: italic;
    font-weight: 500;
    padding-top: 30px;
  }
}

    