/*
Version: 1.2
Last edited by: Natalia Pakhomova
Last edit date: 23/03/2022
Variables file of the project, contains all SCSS variables used in the project
*/

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$primaryFont: 'Lato', Arial, Helvetica, sans-serif;

// COLORS (https://tailwindcss.com/docs/customizing-colors)
$primaryColor: #f9fafb;
$complementaryColor: #231237;
$complementarySkewColor: #1f2937;
$brandColor: #60a5fa;
$brandSkewColor: #818cf8;
$highlightColor: #9ca3af;
$succesColor: #16a34a;
$errorColor: #dc2626;

// THEME COLORS
$lightMode: #eab308;
$darkMode: #1E1E1E;

// MIXIN: Set text color dynamically
@mixin setBackground($color) {
  background-color: $color;
  color: set-text-color($color);
}

// FUNCTIONS
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $complementaryColor;
  } @else {
    @return $primaryColor;
  }
}

// BS-COLORS
$white: #FFFFFF;
$dark: $brandColor;
$danger: $errorColor;

// BS-UTILITIES: Spacer
$spacer: 2rem;